input,
textarea {
  &.ng-invalid.ng-touched:not(:focus) {
    border-color: red;
  }
}

textarea {
  min-height: 6rem !important;
  max-height: 12rem !important;
  overflow-y: auto;
}

.preview-image {
  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
